<html>
<head>
	<title>Test Page</title>
</head>
<body>
	<div class="container">
	<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Weather</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">weather displayed here</p>
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link"></a>
  </div>
</div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Maps</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">maps displayed here</p>
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link"></a>
  </div>
</div>

</div>
</body>
</html>
